.modal-input {width: 180px}

.formform-modal .row1 {

    display: flex;
    justify-content: space-between;

 }

 .button-row{
    display: flex;
    justify-content: flex-end;
 }

 .label-with {
    width: 77px;
 }