<div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">delete asset</h4>      
      </div>
      <div class="modal-body">
                
  
        </div>
            <div class="modal-footer">
                <button type="button" class="btn" (click)="remove(truckname)">Delete</button>
        <button type="button" class="btn" (click)="activeModal.close('Close click')">Close</button>
      </div>
    </div>
  </div>